html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    background: linear-gradient(0deg, #15351c, #118e2a); /* Color of gradient */
    text-align: center;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 1.25em;
}

header img {
    height: 5em;
    margin-right: 1.25em;
    border-radius: 0.625em;
    box-shadow: 0 0.5em 1em #0000004D;
}

h1 {
    margin: 0;
    font-size: 2em;
    text-shadow: 0.125em 0.125em 0.25em #00000080;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.25em;
    min-height: calc(100vh - 200px); /* Adjust as needed */
}

ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    background: #00CD61; /* Color of buttons */
    margin: 1em;
    padding: 0.3em;
    border-radius: 0.625em;
    box-shadow: 0 0.5em 1em #000000D;
    text-align: center;
    font-size: 1.5em;
    width: 13em;
    height: 13em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    transition: transform 0.3s ease-in-out; /* Apply transition to the initial state */
}

li:hover {
    transform: translateY(-0.3125em);
}

li a {
    text-decoration: none;
    color: inherit; /* Inherits the color from li */
    display: block;
    font-size: 1em;
}

li a:hover {
    text-decoration: underline;
}

.status {
    font-size: 1em;
    margin-top: 0.625em;
}

li.bloxeleste {
    background: #006BC8;
}

li.bloxelestecanada {
    background: #D80038;
}

li.bloxelesteanime {
    background: #D9BFFF;
}

li.bloxelestepl {
    background: #D80038;
}

li.tv10 {
    background: #FAA357;
}

li.tv3 {
    background: #adeed6;
    color: black;
}

li.airbenz {
    background: #ed761a;
}
